{% extends 'base/base.html' %}

{% block title %} Password Reset{% endblock %}

{% load crispy_forms_tags %}


 {% block content %}
 <div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
        <h3>Change Password</h3>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <input class="btn btn-success" type="submit" value="Update Password">

                 <div class="text-center">
                    <a class="small" href="{% url 'index' %}">Back</a>
                 </div>
            </form>
            <hr>
           
        </div>
    </div>
</div>

{% endblock %}


<h3>Password Reset Completed</h3>

<a href="/">Login</a>
