{% extends 'base/base.html' %}

{% block title %} Login{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
 
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        {% for message in messages %}
            {% if message %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="border p-3 bg-white">
            <h3>User Login</h3>
                <hr>
                    <form method="POST">
                        {% csrf_token %}
                         {% csrf_token %}
                        {{ form|crispy }}
                            <hr>
                        <input class="btn btn-success" type="submit" value="Login">
                        <a class="mx-4" href="{% url 'password-reset' %}">Forgot Password?</a>
                     </form>
                </div>
            </div>
        </div>

{% endblock %}
