{% extends 'base/base.html' %}

{% block title %} Logout{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3 bg-white">
                    <h3>Logout</h3>
                    <div class="alert alert-danger">
                        <h4>You are logged out</h4>
                    </div>
                    <a href="{% url 'account-login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
  {% endblock %}
