{% extends 'base/base.html' %}

{% block title %} Password Reset Done {% endblock %}

{% load crispy_forms_tags %}


 {% block content %}
 <div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <div class="alert alert-info text-center">
            <h3>Password Reset Sent</h3>
            <hr>
                We Have Sent You A Reset Password Link. Please Check Your Email
            </div>
        </div>
    </div>
</div>

{% endblock %}

