{% extends 'task/partials/base.html' %}

{% block title %} Password Reset Form{% endblock %}

{% load crispy_forms_tags %}


 {% block content %}
 <div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
 
            <h3>Enter Your New Password</h3>

            <p>Please Enter Your Password Twice So We Can Verify</p>

             <hr>
            <form class="form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
            </form>  
        </div>
    </div>
</div>

{% endblock %}



