{% extends 'base.html' %}
{% block title %} Completed Tasks{% endblock %}

{% block content %}

{% include 'topbar.html' %}

<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-4"></div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">

                        <th scope="row">#</th>
                        <th scope="row">Task Name</th>
                        <th scope="col">Date Completed</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for completed_task in completed_tasks %}
                        <tr>
                        <td></td>
                        <td>{{ completed_task.task }}</td>
                        <td>{{ completed.date }}</td>
                        <td>{{completed.status }}</td>
                        <td>
                            <a class="btn btn-info btn-sm" href="{% url 'dashboard-completed-update' comp_task.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'dashboard-completed-delete' comp_task.id %}">Delete</a>
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>
</div>
<!--End Table-->

{% endblock %}
