{% extends 'base/base.html' %}
{% block title %} About Us{% endblock %}


{% block content %}


<div class="container">
	<div class="row mt-4">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-info text-white">
					About The Project
				</div>
				<div class="card-body">
					
					<h5>PyTasks is a task management Django App.</h5>
					<h5>McWilton Chikwenengere</h5>
					<h5>Back-end Dev</h5>
					<h5>11+ years</h5>
					<hr>
					
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
