{% extends 'base/base.html' %}

{% block title %} Current Tasks{% endblock %}
{% load crispy_forms_tags %}

 {% block content %}

{% include 'base/top_bar.html' %}


<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            {% for message in messages %}
            {% if message %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endif %}
            {% endfor %}

            <div class="border bg-primary p-3">
                <h4>New Tasks</h4>
                <hr>
                <form method="POST">    
                    {% csrf_token %}
                    {{ form|crispy }}    
                    <br>
                    <input class="btn btn-warning btn-block" type="submit" value="Add Task">
                </form>
                
            </div>
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-primary ">
                    <tr class="text-white">
                    <th scope="col">#</th>
                    <th scope="col">Task Name</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in curr_tasks %}
                    <tr>
                    <td></td>
                    <td>{{ task.task }}</td>
                    <td>{{ task.date }}</td>
                    <td>{{ task.status }}</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{% url 'dashboard-current-update' task.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'dashboard-current-delete' task.id %}">Delete</a>
                    </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           
        </div>

    </div>
</div>

{% endblock %}
