{% extends 'base/base.html' %}
{% block title %} Home Page{% endblock %}


{% block content %}


{% include 'base/top_bar.html' %}

<div class="container">
	<div class="row mt-4">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header bg-info text-white">
					About Me
				</div>
				<div class="card-body">
					<h5>McWilton</h5>
					
					<div class="col-md-12">
						<div class="card">
							  <a class="btn btn-success btn-sm float-left text-white" href="{% url 'dashboard-current' %}"><b>Create New Task and view more actions</b></a>
						</div>
					</div>
					<hr>
					<div>
						<div class="col-md-12">
							<a class="text-decoration-none text-dark">
								<div class="my-card shadow p-3">
									<p>Me</p>
								</div>
							</a>			
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
